textarea {
    min-height: 400px;
}

.entry-unread {
    /* Default unread  */
    background-color: #FFFFFF; /* white */
    border: 1px solid #36454F;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

.entry-read {
    background-color: #BEBEBE; /* grey */
    border: 1px solid #36454F;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

.no-bullet {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.single-view-inner {
    border: 1px solid #36454F;
    border-radius: 8px;
    padding: 5px;
}